/*Referente a pagina*/
html{    margin-top: 200px;    }
#container{    
        border: solid black 6px;
        margin: auto;
        position: relative;
        justify-content: space-evenly;
        background-color: rgb(172, 168, 168);
        max-width: 520px;
        height: 350px;
        cursor: pointer;
    }

    /*referente tela 1*/
#principal > h1{
        margin: 35px 0px 10px 0px ;
        text-align: center;
        font-size: 50px;
    }
 #principal > #menu{
        display: block;
        width: 330px;
        height: 280px;
        margin: auto;
        margin-top: 30px;
    }
.btnMenu{
        text-align: center;
        font-size: 25px;
        color: white;
        margin: 10px;
        padding: 5px;
        margin-top: 20px;
        background-color: black;
        border-radius: 20px;
    }
.btnMenu:hover{
        background-color: rgb(54, 50, 50);
        cursor: pointer;
    }

    /*referente tela 2*/
#personalizar{
        display: block;
        width: 420px;
        margin: auto;
        display: none;
    }
    #personalizar > #divPre{
        flex-wrap: wrap;
        display: flex;
    }
    #personalizar > #persJogo{
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        padding: 5px;
        margin-top: 2px;
        margin-bottom: 4px;
    }
    #marcador{
        max-width: 100px;
        margin: 10px auto;
        text-align: left;
       font-size: 25px;        
    }
    .checkbox{
        width: 20px;
        height: 20px;    
    }
    .ladoAB{
        display: block;
        text-align: center;  
        font-size: 20px;    
        width: 210px;
    }
    #divBtnT2{
        text-align: center;
        font-size: 25px;
        color: white;
        display: flex;
        padding: 5px; 
    }
    .inpName{
        max-width: 140px;
        height: 20px;
        font-size: 15px;
        margin: 10px;
        font-weight: bold;
        font-family:sans-serif;
        text-align: center;
        border: solid black 2px;
    }

    /*referente tela 3*/
    #jogo{       
        display: none;
    }   
    .grid{
        max-width: 300px;
        margin: auto;
        padding: 15px 10px 0px 10px;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
        color: white;
    }
    .table{
        width: 85px;
        text-align: center;
        height: 80px;
        font-family: arial;
        font-size: 72px;
        margin: 4px 2px;
        border-radius: 10%;
        background-color:#222 ;
    }
    .table:hover{
        background-color: #666;
    }
    .comandos{
        width: 125px;
        font-size: 14px;
        font-family: Verdana;
        padding: 2px;
        text-align: center;
        margin: 10px 0px 0px 1px;
        border: solid #666 2px;
        color:white;
        background-color: #666;
    }
    .comandos:hover{
        background-color: #333;
        border: solid #333 2px;
    }
    #comandos{
        justify-content: space-evenly;
        display: flex;
    }
    .mVez{
        margin: 15px 40px ;
        position: absolute;
        display: none;
        
    }
 
    #ll{
        width: 1px;
        height: 1px;
    }    
    #jogo > #tabuleiro{
        display: flex;
    }
    #placar{
        font-size: 30px;
        margin: 10px 0 0 0;
        font-weight: bold;
        margin-left: 60px;
    }	
    #ladoBT3{
        width: 200px;
        margin-left: -10px;
}
.ladoABT32{
    width: 100%;
    text-align: center;
    font-size: 20px;
   
 }
 #divisorLadoB-B{
     display: flex;
 }
 .nomeJ{
    margin: 45px 0px 20px 0px;
}
.point{
    font-size: 40px;
}
#vez{
    text-align: center;
    margin:  auto;
    justify-content: space-evenly;
   display: flex;
    margin: 30px 0 10px 0;
    font-size: 30px;
    font-weight: bold;
}
#mostraJ{
   height: 35px;
   width: 35px;
   border: solid black 2px;
}
    .btn{
        text-align: center;
        font-size: 25px;
        color: white;
        margin: auto;
        padding: 5px 30px;
        border-radius: 20px;
        background-color: black;
    }
  .btn:hover,.btnT3:hover{
      background-color: rgb(73, 71, 71);
  }
  .btnT3{
    font-size: 19px;
    padding: 10px;
    width: 145px;
    text-align: center;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-top: 15px;
  }
     
    /*referente ao alert e confirm*/
    #box{
        display: none;
        border: solid black 7px;
        position: fixed;
        background: #000;
        cursor: pointer;
        border-radius:2px; 
        text-align: center;
        width:538px;
        z-index: 10;
        background:#FFF; 
        margin:8px;
    }
    #boxHead{
        background: #666;
        font-size:19px;
        padding:10px;
        text-align: center;
        color:#CCC;
    }
    #boxBody{ 
        background:#333; 
        padding:20px; 
        color:#FFF;
    }
    #boxFoot{
        background: #666;
        padding: 5px; 
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        cursor: pointer;        
    }
    .botaoBox{
        width: 125px;
        font-size: 16px;
        font-weight: bold;
        padding: 2px;
        text-align: center;
        margin: 10px 4px;
        color:black;
        background-color: white;
    }

    /*referente a tela creditos*/
    #mold{
        display: block;
        width: 330px;
        height: 280px;
        margin: auto;
        margin-top: 30px;
    }
    #creditos{       
        display: none;
    }
    #creditos > h2{
        margin-top: 40px;
        text-align: center;
        font-size: 30px;
    }
    #creditos > h3 {
        margin: auto;
        margin-top: 40px;
        max-width: 400px;
      text-align: center;
    }
    #creditos > div > div{
        margin-top: 85px;
    }


    #ia{
        width: 40px;
        height: 40px;
        background-color: red;
    }
    #ia:hover{
        background-color: blue;
    }